@import "globals";
@import "mixins";
@import "variables";

.wrapper {
  padding: 1vw;
  @include flexbox(column, center, center);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  height: 17rem;
  color: white;
}

.container {
  @include flexbox(column, center, center);
  opacity: 0;
  transform: translateY(-1rem);
  transition: all 0.75s ease-in-out;
  height: 100%;

  &:hover {
    opacity: 1;
    transform: translateY(0);
  }
}

@for $i from 1 through 8 {
  @media only screen and (min-width: nth($device-widths, $i)) {
    $base-size: 0.2rem;
    $size: $base-size * $i + (1 / (2 * $i));
    .title {
      font-size: $size;
    }

    .description {
      font-size: $size * 0.75;
    }

    .tip {
      font-size: $size * 0.75;
    }
  }
}
