@import "globals";
@import "mixins";
@import "variables";

.wrapper {
  @include flexbox(column, flex-start, center);
}

.container {
  @include flexbox(column, flex-end, center);
  width: 100%;
}

.secondaryText {
  color: $secondary-color;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  margin: 10vh auto 10vh auto;
}

@for $i from 1 through 8 {
  @media only screen and (min-width: nth($device-widths, $i)) {
    $base-size: 0.4rem;
    $size: $base-size * $i + (1 / (2 * $i));
    .primaryText {
      font-size: $size;
      line-height: $size + $i * $base-size;
    }
    .secondaryText {
      font-size: $size;
    }

    .icon {
      width: $size;
      height: $size;
    }
  }
}
