@import "globals";
@import "mixins";

.wrapper {
  @include flexbox(row, center, space-between);
  height: 15vh;
}

.container {
  display: flex;
  align-items: center;
}

.logo {
  width: 1.75rem;
}

.logoText {
  margin-left: 0.5rem;
  font-family: "Nunito", sans-serif;
}

.linksList {
  display: flex;
  color: #777;
  list-style: none;
  gap: 1vw;
  flex-wrap: wrap;
}

.resumeLink {
  text-decoration: none;
  color: #777;
}

.link {
  font-size: 0.75rem;
}

.navigation {
  display: none;
}

@media only screen and (max-width: 768px) {
  .linksList {
    display: none;
    flex-direction: column;
  }

  .container {
    margin: auto;
  }

  .logo {
    width: 2.25rem;
  }

  .logoText {
    font-size: 1.5rem;
  }

  .navigation {
    display: block;
    width: 1.25rem;
  }
}
