@import "globals";
@import "mixins";
@import "variables";

.wrapper {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.title {
  text-align: center;
}

@for $i from 1 through 8 {
  @media only screen and (min-width: nth($device-widths, $i)) {
    $base-size: 1.6rem;
    $size: $base-size * $i + (1 / (2 * $i));
    .title {
      font-size: $size;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: auto;
  gap: 1.5rem;
  margin: 2rem 0;
}
