@import "globals";
@import "mixins";
@import "variables";

.wrapper {
  @include flexbox(column, center, center);
  gap: 2.5rem;
}

@for $i from 1 through 8 {
  @media only screen and (min-width: nth($device-widths, $i)) {
    $base-size: 0.4rem;
    $size: $base-size * $i + (1 / (2 * $i));
    .title {
      font-size: $size;
    }
  }
}

.container {
  @include flexbox(row, flex-start, center);
  gap: 1rem;
  flex-wrap: wrap;
}
