@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,900&display=swap");
* {
  font-size: 16pt;
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.wrapper {
  padding: 0 5vw 0 5vw;
}

.section {
  padding-top: 12.5vh;
}

.wrapper {
  padding: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

.container {
  display: flex;
  flex-direction: column;
}

.image {
  width: 10rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.title {
  font-size: 1.5rem;
}

.description {
  margin: 0.5rem 0;
  color: #777;
}

.tip {
  align-self: flex-end;
  margin-top: auto;
  color: #777;
}

@media only screen and (min-width: 320px) {
  .title {
    font-size: 0.7rem;
  }

  .description {
    font-size: 0.525rem;
  }

  .tip {
    font-size: 0.525rem;
  }
}
@media only screen and (min-width: 480px) {
  .title {
    font-size: 0.65rem;
  }

  .description {
    font-size: 0.4875rem;
  }

  .tip {
    font-size: 0.4875rem;
  }
}
@media only screen and (min-width: 600px) {
  .title {
    font-size: 0.7666666667rem;
  }

  .description {
    font-size: 0.575rem;
  }

  .tip {
    font-size: 0.575rem;
  }
}
@media only screen and (min-width: 768px) {
  .title {
    font-size: 0.925rem;
  }

  .description {
    font-size: 0.69375rem;
  }

  .tip {
    font-size: 0.69375rem;
  }
}
@media only screen and (min-width: 900px) {
  .title {
    font-size: 1.1rem;
  }

  .description {
    font-size: 0.825rem;
  }

  .tip {
    font-size: 0.825rem;
  }
}
@media only screen and (min-width: 1024px) {
  .title {
    font-size: 1.2833333333rem;
  }

  .description {
    font-size: 0.9625rem;
  }

  .tip {
    font-size: 0.9625rem;
  }
}
@media only screen and (min-width: 1200px) {
  .title {
    font-size: 1.4714285714rem;
  }

  .description {
    font-size: 1.1035714286rem;
  }

  .tip {
    font-size: 1.1035714286rem;
  }
}
@media only screen and (min-width: 1600px) {
  .title {
    font-size: 1.6625rem;
  }

  .description {
    font-size: 1.246875rem;
  }

  .tip {
    font-size: 1.246875rem;
  }
}
