@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,900&display=swap");
* {
  font-size: 16pt;
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.wrapper {
  padding: 0 5vw 0 5vw;
}

.section {
  padding-top: 12.5vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.25rem;
  background: black;
  color: white;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  color: white;
}

.text {
  display: flex;
  gap: 0.5rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  align-items: center;
}

.link {
  text-decoration: none;
  color: white;
}
