@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,900&display=swap");
* {
  font-size: 16pt;
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.wrapper {
  padding: 0 5vw 0 5vw;
}

.section {
  padding-top: 12.5vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.secondaryText {
  color: #777;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  margin: 10vh auto 10vh auto;
}

@media only screen and (min-width: 320px) {
  .primaryText {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }

  .secondaryText {
    font-size: 0.9rem;
  }

  .icon {
    width: 0.9rem;
    height: 0.9rem;
  }
}
@media only screen and (min-width: 480px) {
  .primaryText {
    font-size: 1.05rem;
    line-height: 1.85rem;
  }

  .secondaryText {
    font-size: 1.05rem;
  }

  .icon {
    width: 1.05rem;
    height: 1.05rem;
  }
}
@media only screen and (min-width: 600px) {
  .primaryText {
    font-size: 1.3666666667rem;
    line-height: 2.5666666667rem;
  }

  .secondaryText {
    font-size: 1.3666666667rem;
  }

  .icon {
    width: 1.3666666667rem;
    height: 1.3666666667rem;
  }
}
@media only screen and (min-width: 768px) {
  .primaryText {
    font-size: 1.725rem;
    line-height: 3.325rem;
  }

  .secondaryText {
    font-size: 1.725rem;
  }

  .icon {
    width: 1.725rem;
    height: 1.725rem;
  }
}
@media only screen and (min-width: 900px) {
  .primaryText {
    font-size: 2.1rem;
    line-height: 4.1rem;
  }

  .secondaryText {
    font-size: 2.1rem;
  }

  .icon {
    width: 2.1rem;
    height: 2.1rem;
  }
}
@media only screen and (min-width: 1024px) {
  .primaryText {
    font-size: 2.4833333333rem;
    line-height: 4.8833333333rem;
  }

  .secondaryText {
    font-size: 2.4833333333rem;
  }

  .icon {
    width: 2.4833333333rem;
    height: 2.4833333333rem;
  }
}
@media only screen and (min-width: 1200px) {
  .primaryText {
    font-size: 2.8714285714rem;
    line-height: 5.6714285714rem;
  }

  .secondaryText {
    font-size: 2.8714285714rem;
  }

  .icon {
    width: 2.8714285714rem;
    height: 2.8714285714rem;
  }
}
@media only screen and (min-width: 1600px) {
  .primaryText {
    font-size: 3.2625rem;
    line-height: 6.4625rem;
  }

  .secondaryText {
    font-size: 3.2625rem;
  }

  .icon {
    width: 3.2625rem;
    height: 3.2625rem;
  }
}
