@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,900&display=swap");
* {
  font-size: 16pt;
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.wrapper {
  padding: 0 5vw 0 5vw;
}

.section {
  padding-top: 12.5vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.titlePrimary {
  font-size: 3.5rem;
  line-height: 6rem;
}

.titleSecondary {
  font-size: 3.5rem;
  color: gray;
}

@media only screen and (max-width: 1200px) {
  .titlePrimary {
    font-size: 2.5rem;
    line-height: 4rem;
  }

  .titleSecondary {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 1024px) {
  .titlePrimary {
    font-size: 1.5rem;
    line-height: 3rem;
  }

  .titleSecondary {
    font-size: 1.5rem;
  }
}
