@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,900&display=swap");
* {
  font-size: 16pt;
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.wrapper {
  padding: 0 5vw 0 5vw;
}

.section {
  padding-top: 12.5vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
}

.container {
  display: flex;
  align-items: center;
}

.logo {
  width: 1.75rem;
}

.logoText {
  margin-left: 0.5rem;
  font-family: "Nunito", sans-serif;
}

.linksList {
  display: flex;
  color: #777;
  list-style: none;
  gap: 1vw;
  flex-wrap: wrap;
}

.resumeLink {
  text-decoration: none;
  color: #777;
}

.link {
  font-size: 0.75rem;
}

.navigation {
  display: none;
}

@media only screen and (max-width: 768px) {
  .linksList {
    display: none;
    flex-direction: column;
  }

  .container {
    margin: auto;
  }

  .logo {
    width: 2.25rem;
  }

  .logoText {
    font-size: 1.5rem;
  }

  .navigation {
    display: block;
    width: 1.25rem;
  }
}
