@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,900&display=swap");
* {
  font-size: 16pt;
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.wrapper {
  padding: 0 5vw 0 5vw;
}

.section {
  padding-top: 12.5vh;
}

.wrapper {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.title {
  text-align: center;
}

@media only screen and (min-width: 320px) {
  .title {
    font-size: 2.1rem;
  }
}
@media only screen and (min-width: 480px) {
  .title {
    font-size: 3.45rem;
  }
}
@media only screen and (min-width: 600px) {
  .title {
    font-size: 4.9666666667rem;
  }
}
@media only screen and (min-width: 768px) {
  .title {
    font-size: 6.525rem;
  }
}
@media only screen and (min-width: 900px) {
  .title {
    font-size: 8.1rem;
  }
}
@media only screen and (min-width: 1024px) {
  .title {
    font-size: 9.6833333333rem;
  }
}
@media only screen and (min-width: 1200px) {
  .title {
    font-size: 11.2714285714rem;
  }
}
@media only screen and (min-width: 1600px) {
  .title {
    font-size: 12.8625rem;
  }
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-items: center;
  grid-template-rows: auto;
  gap: 1.5rem;
  margin: 2rem 0;
}
